.authentication-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 30px auto;
    width: 900px;
    @media(max-width: 800px){
        display: grid;
        grid-template-columns: 1fr ;
        margin: 30px auto;
        width: auto;
    }
}
